layout {
    gaps 10
    center-focused-column "never"

    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 1.0; }

    focus-ring {
        on
        width 1
    }

    border {
        off
    }

    struts {
        left 10
        right 10
        top -6
    }
}
